# Database
DATABASE_URL=postgresql://neondb_owner:npg_9Q0IVBvMNpPh@ep-lively-block-ahx8nix3-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secret
JWT_SECRET=leMVSno5ZiLeZJiVwStPl41p8XFp+aEHfh9lRbvak2k=

# Server Ports
PORT=3000
WS_PORT=3001

# Frontend URLs (for CORS)
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
